<nav class="navbar navbar-default navbar-fixed-top am-top-header" >
      <div class="container-fluid" >
        <div class="navbar-header">
          <div class="page-title"style=" height: 150px;"></div><a href="#" class="am-toggle-left-sidebar navbar-toggle collapsed"><span class="glyphicon glyphicon-edit"><span></span><span></span><span></span></span></a><class="navbar-brand"></a>
        </div><a href="#" class="am-toggle-right-sidebar"><span class=""></span></a><a href="#" data-toggle="collapse" data-target="#am-navbar-collapse" class="am-toggle-top-header-menu collapsed"></a>
        <div id="am-navbar-collapse" class="collapse navbar-collapse">
          <ul class="nav navbar-nav am-nav-right">
            <li><a href="/"STYLE="font-size: 18px"><span class="glyphicon glyphicon-home" STYLE="font-size: 18px"></span> Home</a></li>
            <li><a href="/about"STYLE="font-size: 18px"><span class="glyphicon glyphicon-info-sign" STYLE="font-size: 18px"></span> About</a></li>
            <li><a href="/support"STYLE="font-size: 18px"><span class="glyphicon glyphicon-headphones" STYLE="font-size: 18px"></span> Support</a></li>
          </ul>
            <ul class="nav navbar-nav navbar-right am-icons-nav">
                <li><a href="/signup.htm"STYLE="font-size: 18px"><span class="glyphicon glyphicon-edit"STYLE="font-size: 18px"></span> Signup</a></li>
                <li><a href="/login.htm"STYLE="font-size: 18px"><span class="glyphicon glyphicon-log-in"STYLE="font-size: 18px"></span> Login</a></li>

            </ul>

    </div>
      </div>
</nav>
