<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <link rel="stylesheet" href="/css/bootstrap.min.css"/>
      <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
      <link rel="stylesheet" href="/css/responsive.bootstrap.min.css"/>
      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/html2canvas.js"></script>

      <link rel="stylesheet" href="/a/css/editor.css" type="text/css"/>
      <link rel='stylesheet' href='/a/style.css' />
      <link rel='stylesheet' href='/a/pe-icon-7-stroke.css' />

      <link rel='stylesheet' href='/css/style.css' />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
  <div>
    {{>header2}}
    {{{body}}}
	{{>footer}}
  </div>
  </body>
</html>
