

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="/js/chart.js"></script>



<div ng-app="myApp" ng-controller="myCtrl" style="margin-left: 50px;margin-top: 60px">

<div class="row" style="margin-left:40px">
			<html>
			</head>
			<body>
			<div class="vr">&nbsp; </div>
				<style>
				.vr {
				    width:2px;
				    background-color:#000;
				    position:absolute;
				    top:0;
				    bottom:0;
				    left:735px;
				    	}
                  </style>


            <div class ="col-md-6">




                <div class="panel panel-default" style="margin: 0px 113px 3px 113px;">

                    <center><h2><div class="panel-heading" style="font-family: sans-serif">Status per Day</h2></center></div>

                <div class="col-md-6" id="chart4">

                    <div style="margin-left:120px; width: 600px; height: 400px">

                        <div style="width: 100%; height: 100%;">

                        </div>

                    </div>

                </div>

            </div>
				                
				


            <div class ="col-md-6">

                <div class="panel panel-default" style="width: 330px;margin:0 auto">

                    <center><h2><div class="panel-heading" style="font-family: sans-serif">Module Count according to status</h2></center></div>

                <div class="col-md-6" id="chart3">

                </div>

            </div>




            <div class ="col-md-6">
				 <div class="panel panel-default"   style="width: 330px;margin:0 auto">
				<center><h2><div class="panel-heading" style="font-family: sans-serif">Number of Days for each Module</h2></center></div>
				<style>
					.panel-heading {background-color: rgba(230, 230, 230, 0);
						margin-bottom: 10px;}
				</style>
				<div class="col-md-4" id="chart1">
				  </div>
				</div>



				<div class ="col-md-6">
				<div class="panel panel-default"   style="width: 330px;margin:0 auto">
				  <center><h2><div class="panel-heading" style="font-family: sans-serif">Status of Modules</h2></center></div>
				<div class="col-md-4" id="chart2">
				  </div>
				</div>


			</body>
			</html>



</div>
</div>





