<link rel="stylesheet" type="text/css" href="a/lib/stroke-7/style.css"/>
<link rel="stylesheet" href="/a/css/editor.css" type="text/css"/>
<div class="am-content" style="margin-top: 75px;margin-left: 85px">
    <div class="main-content">
        <div class="user-profile">
            <div class="user-display">
                <div class="photo"><img src="a/img/profile.jpg"></div>
                <div class="bottom">
                    <div class="user-avatar"><span class="status"></span><img src="a/img/gallery6.jpg"></div>
                    <div class="user-info">
                        <h4>{{username}}</h4><span></span>
                    </div>
                </div>
            </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="info-block panel ">
                            <div class="panel-heading">
                                 <h4>Contacts</h4>
                               <div class="panel-body"><span class="description"></span>
                                    <table class="no-border no-strip skills">
                                        <tbody class="no-border-x no-border-y">
                                            <tr>
                                               <td class="item"> <span class="icon s7-home"></span></td>
                                                <td>C Simplify IT Services Private Limited
                                                    SCO-36, Huda Market, Sector 31,
                                                    Gurgaon, Haryana (India).
                                                </td>
                                            </tr>
                                            <td class="item"> <span class="icon s7-mail"></span></td>
                                            <td>sales@csimplifyit.com    </td>
                                            </tr>
                                            <td class="item"> <span class="icon s7-phone"></span></td>
                                            <td>+91 98999 76227   </td>
                                            </tr>
                                            <td class="item"> <span class="icon s7-global"></span></td>
                                            <td>http://www.csimplifyit.com  </td>
                                            </tr>
                                        </tbody>
                                        </table>
                               </div>
                            </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
